<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1>Django Girls Blog</h1>
        </div>

        {% for post in posts %}
    	 <div>
	        <p>published: {{ post.published_date }}</p>
	        <h1><a href="">{{ post.title }}</a></h1>
	        <p>{{ post.text|linebreaks }}</p> <!--. le |linebreaks stanno spingendo il testo dei post attraverso un filtro per trasformare le line-breaks in paragrafi.-->
	    </div>
		{% endfor %}
    </body>
</html>